spring:
  application:
    name: customer-service
  profiles:
    active: dev
  config:
    import: "configserver:http://localhost:8888"

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: prod