spring:
  application:
    name: gateway-service
  profiles:
    active: dev
  cloud:
    gateway:
      mvc:
        routes:
          - id: customer-service
            uri: http://localhost:8081
            predicates:
              - Path=/api/customers/**
          - id: inventory-service
            uri: http://localhost:8082
            predicates:
              - Path=/api/products/**
          - id: billing-service
            uri: http://localhost:8083
            predicates:
              - Path=/api/bills/**

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

---
spring:
  profiles: dev
  
---
spring:
  profiles: prod
  cloud:
    gateway:
      mvc:
        routes:
          - id: customer-service
            uri: lb://customer-service
            predicates:
              - Path=/api/customers/**
          - id: inventory-service
            uri: lb://inventory-service
            predicates:
              - Path=/api/products/**
          - id: billing-service
            uri: lb://billing-service
            predicates:
              - Path=/api/bills/**