spring:
  application:
    name: eureka-discovery
  profiles:
    active: dev

server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      enabled: true

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: prod
  
eureka:
  server:
    enable-self-preservation: true