spring:
  application:
    name: billing-service
  profiles:
    active: dev
  config:
    import: "configserver:http://localhost:8888"

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

---
spring:
  profiles: dev

---
spring:
  profiles: prod