spring:
  application:
    name: config-service
  profiles:
    active: dev
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configs
        
server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

---
spring:
  profiles: dev
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configs
          
---
spring:
  profiles: prod
  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_REPO_URI:https://github.com/your-org/config-repo.git}
          clone-on-start: true