spring:
  application:
    name: config-service
  profiles:
    active: dev,native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configs
        
server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      enabled: true

---
spring:
  config:
    activate:
      on-profile: dev
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configs
          
---
spring:
  config:
    activate:
      on-profile: prod
  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_REPO_URI:https://github.com/your-org/config-repo.git}
          clone-on-start: true